/*--- Variables --- */

$main-font: 'Open Sans', sans-serif;
$header-font: 'Oswald', sans-serif;

$nav-footer-spacing: 30px 0;
$section-spacing: 20px auto;

$red: #C57B57;
$pink: #F1AB86;
$yellow: #F7DBA7;
$blue: #9CAFB7;


/*--- Sections --- */

body {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.section {
    margin: $section-spacing;
}

.banner {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey!important;
    height: 500px;
}

footer {
    padding: $nav-footer-spacing;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

    .two-column {
        width: 80%;
        margin: 0 auto;
    }
}

/* ---  Navigation --- */

.primary-nav {
    width: 80%;
    margin: 0 auto;
    ul {
        display: inline-block;
        float: right;
        margin-top: 4%;
        color: white;
        list-style: none;
    }
    
    li {
        display: inline-block;
        padding: 15px 20px;
    }
    
    a:hover {
        opacity: .5;
    }
}

/* --- Forms --- */


/* --- Images --- */

#logo {
    width: 20%;
    height: auto;
}

#banner {
    
}


/* --- Columns --- */

.two-column {
    margin: 30px auto;

    .left {
        float: left;
        width: 45%;
    }

    .right {
        float: right;
        width: 45%;
    }
}

.three-column {
    margin: 20px auto;
    overflow: hidden;

    .left {
        float: left;
        width: 30%;
    }

    .right {
        float: right;
        width: 30%;
    }

    .center {
        display: inline-block;
        width: 30%;
    }

}


/*--- Typography --- */

body {
    font-family: $main-font;
    font-size: 14px;

}

h1 {
    font-family: $header-font;
    font-size: 45px;
    margin: 0 auto;
}

h2 {
    font-family: $header-font;
    font-size: 40px;
    margin: 0 auto;
}

h3 {
    font-family: $header-font;
    font-size: 20px;
}

h4 {
    font-family: $header-font;
    font-size: 18px;
    text-align: left;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: inherit;
    margin: 0 auto;

}
