/*--- Variables --- */

$header-font: 'Cousine',
monospace;
$main-font: 'Cousine',
monospace;

$golf-font:'Lato',
sans-serif;

$red: #b81111;
$light-grey: #2b2f40;
$grey: #1d202b;
$dark-grey:black;

$golf-grey: #ebebeb;
$golf-lightgreen: #779e23;
$golf-darkgreen: #5b781c;



$nav-footer-spacing: 1% 11%;
$section-spacing: 5% 11%;


/*--- Sections --- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    background: $grey;
    color: white;

}

.wrapper {
    margin: 0 auto;
}

.section {
    padding: $section-spacing;
    overflow: hidden;
}

.header {
    overflow: hidden;
    background: $dark-grey;
    padding: $nav-footer-spacing;
}

.banner {

    .left {
        margin: 0 auto;
        text-align: left !important;
    }

    .right {
        padding: 0% 0% 3% 0%;
    }
}

.how {
    background-color: $dark-grey;

    .row {
        background: $grey;
        margin: 30px 0;
        padding: 2%;
    }
}

.features {}

.faqs {
    background: none;

    .question {
        margin: 5% auto;
    }

    #question {
        font-weight: bold;
        font-size: 22px;
    }
}

.contact1 {
    background: $dark-grey;
    text-align: center;
}

.contact2 {
    background: white;

    h3 {
        font-size: 40px !important;
    }

    margin: 0 auto;

    .left {
        width: 40% !important;
    }

    .right {
        width: 50% !important;
        margin-top: 5%;
        padding: 3%;
        background: $grey;
        color: white;
    }
}

footer {
    padding-left: 11%;
}

/* ---  Navigation --- */

.primary-nav {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    color: white;

    ul {
        color: white;
        list-style: none;
        padding: 20px 0 0;
        color: white;


    }

    li {
        display: inline-block;
        padding: 15px 20px;
    }

    a {
        font-family: $main-font;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px 0;

        &:hover {
            color: white;
            border-bottom: 3px solid $red;
        }


    }

    #contact a {
        border: 3px solid $red;
        background: $red;
        padding: 10px 35px;

        &:hover {
            border: 3px solid $red;
            color: white;
            background: none;
        }
    }

    h1 {
        font-size: 30px;
        padding: 20px 0;
        color: white;
        margin-top: 20px;
    }

    input#menu {
        display: none;
    }
}


/* --- Buttons --- */

#nav-btn {
    font-size: inherit;
    font-weight: 3300;
    font-family: inherit;


    border: 3px solid $red;
    background: $red;
    padding: 10px 30px;
    margin-left: 20px;
    color: white;

    &:hover {
        border: 3px solid $red;
        color: white;
        background: none;
    }
}

#banner-btn {

    font-size: inherit;
    font-weight: 700;
    font-family: inherit;

    margin-top: 20px;

    border: 3px solid $red;
    background: $red;
    padding: 10px 35px;
    color: white;


    &:hover {
        border: 3px solid $red;
        color: white;
        background: none;
    }




}

/* --- Images --- */

#logo {
    width: 100%;
    height: auto;
    margin-top: 9%;
}

#banner {
    width: 100%;
}

#icon {
    width: 70px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

#how {
    //width: 500px;
}

video {
    float: left;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
}

/* --- Forms --- */

input[type=text],
select,
textarea {
    width: 90%;
    border: 1px solid black;
    background: white;
    color: $dark-grey;
    padding: 10px 20px;
    margin: 10px 0 30px;
    resize: none;
    font-family: $main-font;
    font-size: 18px;
}

input[type=submit] {
    background-color: $red;
    color: white;
    padding: 10px 35px;
    border: 3px solid $red;
    cursor: pointer;

    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-color: transparent;
    color: $dark-grey;
    border: 3px solid $red;
}

.container {
    background-color: none;
    color: $dark-grey !important;
    width: 50%;
    margin: 0 auto;
    padding: 0 5%;
}

label {

    font-weight: 700;

}


/* --- Columns --- */
.primary-nav {
    .left {
        float: left;
        width: 20%;
    }

    .right {
        float: right;
        width: 80%;
        text-align: right;
    }
}

.two-column {
    float: clear;
    overflow: auto;
    margin-top: 20px;

    .left {
        float: left;
        width: 45%;


    }

    .right {
        float: right;
        width: 45%;
    }
}

.three-column {
    margin: 20px auto;
    overflow: hidden;

    .left {
        float: left;
        width: 30%;
    }

    .right {
        float: right;
        width: 30%;
    }

    .center {
        display: inline-block;
        width: 30%;
    }

}

.row {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
    padding: 16px;
    vertical-align: middle;
    width: 50%;
}


/*--- Typography --- */

body {
    font-family: $main-font;
    font-weight: 300;
    font-size: 18px;
}

h1 {
    font-family: $main-font;
    font-size: 60px;
    margin: 0 auto;
}

h2 {
    font-family: $main-font;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto 30px;


}

h2::after {
    background: $red none repeat scroll 0 0;
    content: "";
    display: block;
    height: 5px;
    margin: 15px auto;
    width: 50px;
}

h3 {
    font-family: $main-font;
    font-size: 30px;
}

h4 {
    font-family: $header-font;
    font-size: 18px;
    text-align: left;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: inherit;
    color: inherit;
    margin: 0 auto;

}

p {}

/* --- Media Queries --- */

@media screen and (max-width: 1055px) {

    h1,
    h2 {
        font-size: 30px;
    }

    .primary-nav label {
        display: block;
        cursor: pointer;
        background: url(imgs/menu.png) no-repeat right center;
        background-size: 30px;
        margin: 2% auto;
        padding: 50px 0 50px 50px;
    }

    .primary-nav {
        .right {
            width: 40%;
            margin-top: -16%;
        }

        img {
            width: 70% !important;
            text-align: left !important;
            float: left !important;

        }

        ul {
            padding: 0 !important;
            float: clear;
        }

        li {
            margin: 0 auto;
            text-align: right;
            float: right;
            clear: right;
            width: 100%;
        }

        #contact a {
            border: none !important;
            text-align: right !important;
            padding: 0 !important;
        }
    }

    .menu-content {
        max-height: 0;
        display: block;
        overflow: hidden;
        margin: 0 auto;

    }

    /* Toggle Effect */
    input:checked ~ label {
        background-image: url(imgs/close.png);
    }

    input:checked ~ .menu-content {
        max-height: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .two-column,
    .three-column,
    .right,
    .left,
    .row {
        float: none !important;
        margin: 0 auto;
        text-align: center;
        width: 90% !important;
    }

    .row {
        display: inline-block;
        width: 100% !important;
        margin: 0 auto !important;

        img {
            width: 100% !important;
        }
    }

}

@media screen and (max-width: 700px) {

    .primary-nav {
        img {
            margin-top: 4% !important;
        }

        .right {
            margin-top: -30% !important;
        }
    }

    .row {
        display: inline-block;
        width: 100% !important;
        margin: 0 auto !important;

        img {
            width: 100% !important;
        }
    }

}

/* --- Golf Page --- */

#golf {
    
    .header {
        background: $golf-darkgreen;
    }
    
    .banner {
        background: $golf-grey;
        color: black;
    }
    
    .how {
        background: white;
        color: black;
        
        .row {
            background: $golf-grey;
        }
    }

    body,
    p,
    a,
    h1,
    h2,
    h3,
    h4 {
        font-family: $golf-font!important;
    }

}
