/*--- Variables --- */
/*--- Sections --- */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #1d202b;
  color: white;
}

.wrapper {
  margin: 0 auto;
}

.section {
  padding: 5% 11%;
  overflow: hidden;
}

.header {
  overflow: hidden;
  background: black;
  padding: 1% 11%;
}

.banner .left {
  margin: 0 auto;
  text-align: left !important;
}
.banner .right {
  padding: 0% 0% 3% 0%;
}

.how {
  background-color: black;
}
.how .row {
  background: #1d202b;
  margin: 30px 0;
  padding: 2%;
}

.faqs {
  background: none;
}
.faqs .question {
  margin: 5% auto;
}
.faqs #question {
  font-weight: bold;
  font-size: 22px;
}

.contact1 {
  background: black;
  text-align: center;
}

.contact2 {
  background: white;
  margin: 0 auto;
}
.contact2 h3 {
  font-size: 40px !important;
}
.contact2 .left {
  width: 40% !important;
}
.contact2 .right {
  width: 50% !important;
  margin-top: 5%;
  padding: 3%;
  background: #1d202b;
  color: white;
}

footer {
  padding-left: 11%;
}

/* ---  Navigation --- */
.primary-nav {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  color: white;
}
.primary-nav ul {
  color: white;
  list-style: none;
  padding: 20px 0 0;
  color: white;
}
.primary-nav li {
  display: inline-block;
  padding: 15px 20px;
}
.primary-nav a {
  font-family: "Cousine", monospace;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 0;
}
.primary-nav a:hover {
  color: white;
  border-bottom: 3px solid #b81111;
}
.primary-nav #contact a {
  border: 3px solid #b81111;
  background: #b81111;
  padding: 10px 35px;
}
.primary-nav #contact a:hover {
  border: 3px solid #b81111;
  color: white;
  background: none;
}
.primary-nav h1 {
  font-size: 30px;
  padding: 20px 0;
  color: white;
  margin-top: 20px;
}
.primary-nav input#menu {
  display: none;
}

/* --- Buttons --- */
#nav-btn {
  font-size: inherit;
  font-weight: 3300;
  font-family: inherit;
  border: 3px solid #b81111;
  background: #b81111;
  padding: 10px 30px;
  margin-left: 20px;
  color: white;
}
#nav-btn:hover {
  border: 3px solid #b81111;
  color: white;
  background: none;
}

#banner-btn {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  margin-top: 20px;
  border: 3px solid #b81111;
  background: #b81111;
  padding: 10px 35px;
  color: white;
}
#banner-btn:hover {
  border: 3px solid #b81111;
  color: white;
  background: none;
}

/* --- Images --- */
#logo {
  width: 100%;
  height: auto;
  margin-top: 9%;
}

#banner {
  width: 100%;
}

#icon {
  width: 70px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

video {
  float: left;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
}

/* --- Forms --- */
input[type=text],
select,
textarea {
  width: 90%;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 10px 20px;
  margin: 10px 0 30px;
  resize: none;
  font-family: "Cousine", monospace;
  font-size: 18px;
}

input[type=submit] {
  background-color: #b81111;
  color: white;
  padding: 10px 35px;
  border: 3px solid #b81111;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: transparent;
  color: black;
  border: 3px solid #b81111;
}

.container {
  background-color: none;
  color: black !important;
  width: 50%;
  margin: 0 auto;
  padding: 0 5%;
}

label {
  font-weight: 700;
}

/* --- Columns --- */
.primary-nav .left {
  float: left;
  width: 20%;
}
.primary-nav .right {
  float: right;
  width: 80%;
  text-align: right;
}

.two-column {
  float: clear;
  overflow: auto;
  margin-top: 20px;
}
.two-column .left {
  float: left;
  width: 45%;
}
.two-column .right {
  float: right;
  width: 45%;
}

.three-column {
  margin: 20px auto;
  overflow: hidden;
}
.three-column .left {
  float: left;
  width: 30%;
}
.three-column .right {
  float: right;
  width: 30%;
}
.three-column .center {
  display: inline-block;
  width: 30%;
}

.row {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 16px;
  vertical-align: middle;
  width: 50%;
}

/*--- Typography --- */
body {
  font-family: "Cousine", monospace;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-family: "Cousine", monospace;
  font-size: 60px;
  margin: 0 auto;
}

h2 {
  font-family: "Cousine", monospace;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto 30px;
}

h2::after {
  background: #b81111 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 5px;
  margin: 15px auto;
  width: 50px;
}

h3 {
  font-family: "Cousine", monospace;
  font-size: 30px;
}

h4 {
  font-family: "Cousine", monospace;
  font-size: 18px;
  text-align: left;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
  color: inherit;
  margin: 0 auto;
}

/* --- Media Queries --- */
@media screen and (max-width: 1055px) {
  h1,
h2 {
    font-size: 30px;
  }

  .primary-nav label {
    display: block;
    cursor: pointer;
    background: url(imgs/menu.png) no-repeat right center;
    background-size: 30px;
    margin: 2% auto;
    padding: 50px 0 50px 50px;
  }

  .primary-nav .right {
    width: 40%;
    margin-top: -16%;
  }
  .primary-nav img {
    width: 70% !important;
    text-align: left !important;
    float: left !important;
  }
  .primary-nav ul {
    padding: 0 !important;
    float: clear;
  }
  .primary-nav li {
    margin: 0 auto;
    text-align: right;
    float: right;
    clear: right;
    width: 100%;
  }
  .primary-nav #contact a {
    border: none !important;
    text-align: right !important;
    padding: 0 !important;
  }

  .menu-content {
    max-height: 0;
    display: block;
    overflow: hidden;
    margin: 0 auto;
  }

  /* Toggle Effect */
  input:checked ~ label {
    background-image: url(imgs/close.png);
  }

  input:checked ~ .menu-content {
    max-height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .two-column,
.three-column,
.right,
.left,
.row {
    float: none !important;
    margin: 0 auto;
    text-align: center;
    width: 90% !important;
  }

  .row {
    display: inline-block;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .row img {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) {
  .primary-nav img {
    margin-top: 4% !important;
  }
  .primary-nav .right {
    margin-top: -30% !important;
  }

  .row {
    display: inline-block;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .row img {
    width: 100% !important;
  }
}
/* --- Golf Page --- */
#golf .header {
  background: #5b781c;
}
#golf .banner {
  background: #ebebeb;
  color: black;
}
#golf .how {
  background: white;
  color: black;
}
#golf .how .row {
  background: #ebebeb;
}
#golf body,
#golf p,
#golf a,
#golf h1,
#golf h2,
#golf h3,
#golf h4 {
  font-family: "Lato", sans-serif !important;
}

/*# sourceMappingURL=output.css.map */
